---
import { HTMLAttributes } from "astro/types";

type Attributes = Omit<
  HTMLAttributes<"span">,
  "aria-hidden" | "aria-label" | "role"
>;

export interface Props extends Attributes {
  label?: string;
  symbol: string;
}

const { label = null, symbol, ...rest } = Astro.props;
const forbiddenAttributes = ["aria-hidden", "aria-label", "role"];

forbiddenAttributes.forEach((attr) => {
  if (rest.hasOwnProperty(attr)) {
    console.warn(
      `\`Emoji\` handles the \`${attr}\` attribute internally. Ignoring passed value \`${rest[attr]}\``
    );
    delete rest[attr];
  }
});
---

<span aria-hidden={label ? null : true} aria-label={label} role="img" {...rest}>
  {symbol}
</span>
